version: '3'
services:
  jenkins:
    image: kmohan778/jenkins
    container_name: jenkins
    ports:
      - 8080:8080
      - 50000:50000
    privileged: true
    volumes:
        - jenkins_log:/var/jenkins_home/
        - /var/run/docker.sock:/var/run/docker.sock
  filebeat:
    image: kmohan778/filebeat
    volumes:
        - jenkins_log:/var/jenkins_home/
    networks:
        - elastic
  logstash:
    image: logstash:7.13.2
    environment:
      - STDOUT=true
    ports:
      - 5044:5044
    networks:
        - elastic
    links:
      - elasticsearch
    depends_on:
       - elasticsearch
       - kibana
    command: 'logstash -e "input { beats { port => 5044 } } output { elasticsearch { hosts => elasticsearch } }"'
  elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
        container_name: elasticsearch
        environment:
            - discovery.type=single-node
        volumes:
            - elasticsearch:/usr/share/elasticsearch/data
        ports:
            - 9200:9200
        networks:
            - elastic
        labels:
            - co.elastic.logs/module=elasticsearch
            - co.elastic.metrics/module=elasticsearch
  kibana:
        image: docker.elastic.co/kibana/kibana:7.7.0
        container_name: kibana
        ports:
            - 5601:5601
        depends_on:
            - elasticsearch
        environment:
            ELASTICSEARCH_URL: http://elasticsearch:9200
            ELASTICSEARCH_HOSTS: http://elasticsearch:9200
        networks:
            - elastic
volumes:
  jenkins_log:
  elasticsearch:
networks:
    elastic:
      driver: bridge
  
